<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>
<body>

    <h3>Student Registration Form</h3>

    <form th:action="@{/processStudentForm}" th:object="${student}" method="POST">

        <label for="firstName">First name:</label>
        <input type="text" name="firstName" id="firstName" th:field="*{firstName}" />

        <br>
        <br>


        <label for="lastName">Last name:</label>
        <input type="text" name="lastName" id="lastName" th:field="*{lastName}" />

        <br>
        <br>

        <label for="country">Country:</label>
        <select name="country" id="country" th:field="*{country}">

            <option th:each="tempCountry : ${countriesList}" th:value="${tempCountry}" th:text="${tempCountry}"></option>

        </select>

        <br>
        <br>

        <label for="favoriteLanguage">Favorite Language:</label>

        <input
                type="radio"
                name="favoriteLanguage"
                id="favoriteLanguage"
                th:field="*{favoriteLanguage}"
                th:each="tempLang : ${langsList}"
                th:value="${tempLang}"
                th:text="${tempLang}">

        <br>
        <br>

        <label for="favoriteOS">Favorite Operating System:</label>

        <input
                type="checkbox"
                name="favoriteOS"
                id="favoriteOS"
                th:field="*{favoriteOS}"
                th:each="tempOS : ${opsysList}"
                th:value="${tempOS}"
                th:text="${tempOS}">

        <br>
        <br>

        <input type="submit" />

    </form>

</body>
</html>